<div class="card">
  <div class="card-header">
    Contact List
    <a routerLink="/add" class="btn btn-primary float-right">Add Contact</a>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th (click)="sortBy('firstName')">First Name</th>
          <th (click)="sortBy('lastName')">Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Iterate over contacts here -->
        <tr *ngFor="let contact of contacts">
          <td>{{ contact.firstName }}</td>
          <td>{{ contact.lastName }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.phoneNumber }}</td>
          <td>
            <a [routerLink]="['/edit', contact.id]" class="btn btn-primary">Edit</a>
            <button (click)="deleteContact(contact.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
